/MSCP.jdebug.user
*.bak
/MSCP-edu.jdebug.user
/Debug/
/test.cpp
*.pdf
*.img
list
/ft232h.conf
/qbus/.lock
/MSCP.und/id.txt
/MSCP.und/settings.xml
/QBusH723Z-JLCPCB-0.1/~QBusH723Z.kicad_sch.lck
/zip
/Core/Src/example3.c
